body {
    padding: 0px;
    margin: 0px;
}

main {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr 0.5fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "header header"
    "nav article"
    "footer footer"
}

header {
    background: lightblue;
    grid-area: header;
}

nav {
    background: lightgrey;
    grid-area: nav;
}

article {
    grid-area: article;
}

footer {
    grid-area: footer;
}

.active-link {
    background: lightcoral;
}

.completed {
    background: lightcoral; 
}